.recipeContainer {
  margin: 20px;
  padding: 10px;
  border: 2px solid gray;
  transition: transform 400ms;
  min-width: 250px;
}

.recipeContainer:hover {
  transform: scale(1.03);
  transition: 200ms;
  cursor: pointer;
}

.category {
  background: #9f9f9f;
  padding: 5px;
  margin: 5px;
  color: white;
  border-radius: 3px;
}

.recipeHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

h2 {
  margin: 0;
}