.recipeContainer {
  padding: 10px;
  border: 2px solid gray;
  transition: transform 400ms;
}

.recipeContainer:hover {
  transform: scale(1.1);
  transition: 200ms;
  cursor: pointer;
}

.category {
  background: #9f9f9f;
  padding: 5px;
  margin: 5px;
  color: white;
  border-radius: 3px;
}
